Repository pjbriggs/nebulizer, pull requests merged in 2020-08, with the labels that each got.

#97 list_users: add --status option to list 'deleted' and 'purged' users
  docs/users.rst
  nebulizer/cli.py
  nebulizer/users.py
Labels: enhancement, users

#98 delete_user: fix the purging functionality
  docs/users.rst
  nebulizer/users.py
Labels: bugfix, users

#99 Fix bug with filtering 'deleted' and 'purged' users in 'get_users' function
  nebulizer/users.py
Labels: bugfix, users

#100 ping/config commands: don't need to validate API key when connecting to Galaxy
  nebulizer/cli.py
  nebulizer/core.py
Labels: enhancement

#101 Use SVG Travis CI badge for consistency
  README.rst
Labels: documentation

#104 list_users: enable sorting by disk usage, quota etc
  docs/users.rst
  nebulizer/cli.py
  nebulizer/users.py
  test/test_users.py
Labels: enhancement, users

#66 WIP implement quota management commands
  docs/index.rst
  docs/quotas.rst
  nebulizer/cli.py
  nebulizer/groups.py
  nebulizer/quotas.py
  test/test_quotas.py
Labels: new feature, quotas
